%body
  .single-container
    = render 'devise/shared/registration-header'
    .single-main
      .l-single-container
        %h2.l-single-head 新規会員登録
        .l-single-inner
          .l-single-content
            %a.btn-default.btn-mail{href: "https://www.mercari.com/jp/signup/registration/"}
              %i.far.fa-envelope
              メールアドレスで登録
            %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
              %i.fab.fa-facebook
              Facebookで登録
            %button#google-login.btn-default.btn-sns.btn-sns-google
              %i.fab.fa-google-plus-g
              Googleで登録
            .login-form-inner
              .form-group
      = render 'devise/shared/registration-footer'