%div.select-wrap
  %select.select-default
    %option{selected: "selected", value: ""} 年
    %option{value: "18"} 18
    %option{value: "19"} 19
    %option{value: "20"} 20
    %option{value: "21"} 21
    %option{value: "22"} 22
    %option{value: "23"} 23
    %option{value: "24"} 24
    %option{value: "25"} 25
    %option{value: "26"} 26
    %option{value: "27"} 27
    %option{value: "28"} 28
    %option{value: "29"} 29
