%div.select-wrap
  %select.select-default
    %option{:selected => "selected", :value => ""} 月
    %option{:value => "01"} 01
    %option{:value => "02"} 02
    %option{:value => "03"} 03
    %option{:value => "04"} 04
    %option{:value => "05"} 05
    %option{:value => "06"} 06
    %option{:value => "07"} 07
    %option{:value => "08"} 08
    %option{:value => "09"} 09
    %option{:value => "10"} 10
    %option{:value => "11"} 11
    %option{:value => "12"} 12
