%body
  .single-container
    .single-header
      %h1
        %a{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1098098883"}/
      %nav.progress-bar.signup-bar
        %ol.clearfix
          %li
            会員情報
            .t-progress-status-fist
          %li
            電話番号認証
            .t-progress-status-2nd
          %li.active
            住所入力
            .t-progress-status-3rd
          %li
            支払い方法
            .t-progress-status
          %li
            完了
            .progress-status-last
    .single-main
      .l-single-container
        %h2.l-single-head 住所入力
        .l-single-inner
          .l-single-content
            .form-group-registration
              %label{:for => "fullname"} お名前
              %span.form-require 必須
              %input.input-default{:name => "kanji-first-name", :placeholder => "例）山田", :type => "text", :value => ""}/
              %input.input-default{:name => "kangi-last-name", :placeholder => "例）彩", :type => "text", :value => ""}/
            .form-group-registration
              %label{:for => "fullname"} お名前カナ
              %span.form-require 必須
              %input.input-default{:name => "kana-first-name", :placeholder => "例）ヤマダ", :type => "text", :value => ""}/
              %input.input-default{:name => "kana-last-name", :placeholder => "例）アヤ", :type => "text", :value => ""}/
            .form-group-registration
              %label{:for => "address-number"} 郵便番号
              %span.form-require 必須
              %input.input-default{:name => "address-number", :placeholder => "例）123-4567", :type => "text", :value => ""}/
            .form-group-registration
              %label{:for => "prefeture"} 都道府県
              %span.form-require 必須
              = render 'prefecture'
            .form-group-registration
              %label{:for => "city"} 市区町村
              %span.form-require 必須
              %input.input-default{:name => "city", :placeholder => "例）横浜市緑区", :type => "text", :value => ""}/
            .form-group-registration
              %label{:for => "detail-address"} 番地
              %span.form-require 必須
              %input.input-default{:name => "detail-address", :placeholder => "例）青山1-1-1", :type => "text", :value => ""}/
            .form-group-registration
              %label{:for => "building-name"} 建物名
              %span.form-optional 任意
              %input.input-default{:name => "building-name", :placeholder => "例）柳ビル103", :type => "text", :value => ""}/
            .form-group-registration
              %label{:for => "telephone-number"} 電話
              %span.form-optional 任意
              %input.input-default{:name => "telephone", :placeholder => "例) 09012345678", :type => "string", :value => ""}/
            .form-group-registration
              %button.btn-default.btn-red{:type => "submit"} 次へ進む

      = render 'devise/shared/registration-footer'
