%body
  .single-container
    .single-header
      %h1
        %a{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1098098883"}/
      %nav.progress-bar.signup-bar
        %ol.clearfix
          %li.active
            会員情報
            .progress-status-fist
          %li
            電話番号認証
            .progress-status
          %li
            住所入力
            .progress-status
          %li
            支払い方法
            .progress-status
          %li
            完了
            .progress-status-last
    .single-main
      .l-single-container
        %h2.l-single-head 会員情報入力
        .l-single-inner
          .l-single-content
            .form-group-registration
              %label{:for => "nickname"} ニックネーム
              %span.form-require 必須
              %input.input-default{:name => "nickname", :placeholder => "例）メルカリ太郎", :type => "text", :value => ""}/
            .form-group-registration
              %label{:for => "email"} メールアドレス
              %span.form-require 必須
              %input.input-default{:name => "email", :placeholder => "PC・携帯どちらでも可", :type => "email", :value => ""}/
            %input{:name => "login_type", :type => "hidden", :value => ""}/
            .form-group-registration
              %label{:for => "password"} パスワード
              %span.form-require 必須
              %input.input-default{:name => "password", :placeholder => "6文字以上", :type => "password"}/
            .form-group-registration
              %label{:for => "password"} パスワード（確認）
              %span.form-require 必須
              %input.input-default{:name => "password2", :placeholder => "6文字以上", :type => "password"}/
            %input{:name => "after_save_callback", :type => "hidden", :value => ""}/
            .form-group-registration
              .g-recaptcha.signup-recaptcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
                %div{:style => "width: 304px; height: 78px;"}
                  %div
                    %iframe{:frameborder => "0", :height => "78", :name => "a-okxj1mv1r4m3", :role => "presentation", :sandbox => "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", :scrolling => "no", :src => "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1540189908068&size=normal&cb=fi29npi8pfvn", :width => "304"}
                  %textarea#g-recaptcha-response.g-recaptcha-response{:name => "g-recaptcha-response", :style => "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
              %button.btn-default.btn-red{:type => "submit"} 次へ進む


      = render 'devise/shared/registration-footer'
