%body
  = render 'items/header'
  %nav#subNav
    %ul.subNavUl
      %li
        %a
          %span メルカリ
        %i.fa.fa-angle-right.icon
      %li
        %a
          %span.active マイページ

  %main
    .mypage-container.clearfix
      .mypage-container__content
        %section.mypage-container__content-user-icon
          %a{href: "https://www.mercari.com/jp/u/164528002/"}
            %figure
              %img{alt: "",  src: "//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png"}
            %h2.bold りり
            .mypage-number
              .mypage-number-detail
                評価
                %span.bold 18
              .mypage-number-detail
                出品数
                %span.bold 19
        %section.mypage-container-news-todo.clearfix
          %ul.mypage-tabs
            %li.mypageList.active
              %h3
                %a お知らせ
            %li.mypageList
              %h3
                %a やることリスト
          .tab-contents
            %ul#my-page-notification
              %li.mypage-item-not-found.bold 現在、やることリストはありません

        %section.mypage-container__tradings
          %h2.mypage-container__tradings-head 購入した商品
          %ul.mypage-container__tradings-tabs
            %li.trading-now.trading-tabs.active
              %a.bold{href:""} 取引中
            %li.trading-after.trading-tabs
              %a.bold{href:""} 過去の取引
          .mypage-container__tradings-contents
            %ul#trading-tab-list-now.tab-pane.active
              %li.mypage-item-not-found.bold.active  取引中の商品がありません
            %ul#trading-tab-list-after.tab-pane
              %li.list-contents
                %a{href:""}
                  %figure
                    %img{src:"https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m60440123002_1.jpg?1511831908"}
                  .mypage-item-body
                    .mypage-item-body__text
                      「TIFFANY&amp;Co.  オープンハートネックレス」 を購入しました。
                      %span 取引が完了しました
                    .mypage-item-body__status.bold.done 取引完了
                  %i.fa.fa-angle-right.icon
              %li.list-contents
                %a{href:''}
                  %figure
                    %img{src:"https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m60072518234_1.jpg?1502768232"}
                  .mypage-item-body
                    .mypage-item-body__text
                      「ポパイ 3月号 POPEYE」 を購入しました。
                      %span 取引が完了しました
                    .mypage-item-body__status.bold.done 取引完了
                  %i.fa.fa-angle-right.icon
              %li#gotoAllList
                %a#gotoAllList-inner{href: ""} 一覧を見る
      .mypage-container__side
        %nav.mypage-nav
          %ul.mypage-nav-list
            %li
              %a.mypage-nav-list-item.active{href: "/users/:id"}
                マイページ
                %i.fa.fa-angle-right.icon.active
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/notification/"}
                お知らせ
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/todo/"}
                やることリスト
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/like/history/"}
                いいね！一覧
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/sell/"}
                出品する
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/listings/listing/"}
                出品した商品 - 出品中
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/listings/in_progress/"}
                出品した商品 - 取引中
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/listings/completed/"}
                出品した商品 - 売却済み
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/purchase/"}
                購入した商品 - 取引中
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/purchased/"}
                購入した商品 - 過去の取引
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/news/"}
                ニュース一覧
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/review/history/"}
                評価一覧
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/help_center/"}
                ガイド
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/support/"}
                お問い合わせ
                %i.fa.fa-angle-right.icon

          %h3.mypage-nav-head 売上・ポイント

          %ul.mypage-nav-list
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/sales/"}
                売上・振込申請
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/point/"}
                ポイント
                %i.fa.fa-angle-right.icon

          %h3.mypage-nav-head 設定

          %ul.mypage-nav-list
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/profile/"}
                プロフィール
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/deliver_address/"}
                住所変更
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/card/"}
                支払い方法
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/email_password/"}
                メール/パスワード
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/identification/"}
                本人情報
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/mypage/sms_confirmation/"}
                電話番号の確認
                %i.fa.fa-angle-right.icon
            %li
              %a.mypage-nav-list-item{href: "/jp/logout/"}
                ログアウト
                %i.fa.fa-angle-right.icon

  = render 'items/appbarner'
  = render 'items/footer'
  = render 'items/sellBtn'
