.pulldownmenu
  %ul.pc-header-nav-parent-wrap{"data-mega" => "1"}
    %li.pc-header-nav-parent-ledies
      %h3.ledies
        %a レディース
      %ul.pc-header-nav-child-wrap{"data-mega" => "2"}
        %li.pc-header-nav-child-ledies
          %a トップス
        %li.pc-header-nav-child-ledies
          %a ジャケット/アウター
          %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/137/"} テーラードジャケット
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/138/"} ノーカラージャケット
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/139/"} Gジャン/デニムジャケット
    %li.pc-header-nav-parent-mens
      %h3
        %a メンズ
      %ul.pc-header-nav-child-wrap{"data-mega" => "2"}
        %li.pc-header-nav-child-mens
          %a{:href => "https://www.mercari.com/jp/category/30/"} トップス
          %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/302/"} Tシャツ/カットソー(半袖/袖なし)
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/303/"} Tシャツ/カットソー(七分/長袖)
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/304/"} シャツ
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/305/"} ポロシャツ
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/306/"} タンクトップ
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/307/"} ニット/セーター
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/308/"} パーカー
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/309/"} カーディガン
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/310/"} スウェット
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/311/"} ジャージ
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/312/"} ベスト
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/313/"} その他
    %li.pc-header-nav-parent-baby
      %h3
        %a{:href => "https://www.mercari.com/jp/category/3/"} ベビー・キッズ
      %ul.pc-header-nav-child-wrap{"data-mega" => "2"}
        %li.pc-header-nav-child-baby
          %a{:href => "https://www.mercari.com/jp/category/44/"} ベビー服(女の子用)  ~95cm
          %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/431/"} トップス
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/432/"} アウター
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/433/"} パンツ
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/434/"} スカート
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/435/"} ワンピース
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/436/"} ベビードレス
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/437/"} おくるみ
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/438/"} 下着/肌着
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/439/"} パジャマ
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/994/"} ロンパース
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/440/"} その他
        %li.pc-header-nav-child-baby
          %a{:href => "https://www.mercari.com/jp/category/1107/"} ベビー服(男の子用)  ~95cm
          %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/1299/"} トップス
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/1300/"} アウター
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/1301/"} パンツ
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/1302/"} おくるみ
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/1303/"} 下着/肌着
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/1304/"} パジャマ
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/1305/"} ロンパース
            %li.pc-header-nav-grand-child
              %a{:href => "https://www.mercari.com/jp/category/1306/"} その他
