.buy-item{
  text-align: center;
  img{
    width: 148px;
  }
}
.buy-you-pay{
  font-size: 28px;
}
main.single-main{
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  h2.l-single-head{
  padding: 32px 16px;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  }
  section.buy-content{
    padding: 24px 12.5% 0;
    border-top: 1px solid #f5f5f5;
    .buy-content-inner{
      max-width: 320px;
      margin: 0 auto;
      p.buy-item-name{
        margin: 8px 0 0;
        font-size: 16px;
        line-height: 1.5;
      }
      form.buy-form{
        p.buy-price{
          margin: 8px 0 0;
          line-height: 1.5;
          font-size: 28px;
          span.item-shipping-fee{
            margin: 0 0 0 8px;
            font-size: 14px;
            font-weight: 400;
            display: inline-block;
          }
        }
        ul.buy-accordion{
          background: #ccc;
          margin: 16px 0 0;
          list-style: none;
          li{
            .accordion-toggle{
              cursor: default;
              padding: 16px;
              border: 1px solid #ccc;
              position: relative;
            }
          }
        }
        ul.buy-price-table{
          display: table;
          border-collapse: collapse;
          width: 100%;
          list-style: none;
          li.buy-price-row:first-child{
            border: 0;
          }
          li.buy-price-row{
            display: table-row;
            border-top: 1px solid #ccc;
            .buy-price-cell:first-child{
              text-align: left;
            }
            .buy-price-cell{
              display: table-cell;
              padding: 16px 0;
              text-align: right;
              span{
                font-size: 25px;
              }
            }
          }
        }
        p.has-error-text{
          color: #ea352d;
          line-height: 1.5;
          font-size: 14px;
          margin: 8px 0 0;
        }
        button.btn-default{
          margin: 16px 0 0
        }
      }
    }
  }
  section.buy-content.buy-user-info{
    transition: all ease-out .3s;
    margin: 40px 0 0;
    padding: 24px 12.5% 0;
    border-top: 1px solid #f5f5f5;
    .buy-content-inner{
      max-width: 320px;
      margin: 0 auto;
      h3:first-child{
        margin: 0;
      }
      h3{
        margin: 40px 0 0;
        font-size: 14px;
      }
      address.buy-user-info-text{
        display: block;
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 1.4;
        font-style: normal;
      }
      a.buy-user-info-fix{
        text-decoration: none;
        touch-action: manipulation;
        display: block;
        text-align: right;
        span{
          color: #0099e8;
          vertical-align: middle;
        }
        i.fa-angle-right{
          vertical-align: middle;
          margin: 0 0 0 8px;
          font-size: 15px;
          color: #0099e8;
        }
      }
      p.buy-user-info-text{
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 1.4;
      }
    }
  }
  section.buy-content.buy-user-info.last{
    padding-bottom: 40px;
  }
}
