#wrap {
width:100%;
overflow:hidden;
}

body {
    position: relative;
    min-height: 100%;
    background: #f5f5f5;
    font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1;
    background: rgb(245, 245, 245);
  }


  .single-header h1 {
    display: inline-block;
    margin: 11px 0 12px;
}

.single-container {

}
  .single-header {
    height: 128px;
    text-align: center;
    h1 {
      margin: 40px 0 0;
      a {
        width: 185px;
        height: 49px;
        line-height: 49px;
      }
    }
  }

.login-no-account {
  padding: 40px 64px;
  p {
    text-align: center;
  }
  a {
      display: block;
      margin: 8px 0 0;
      border: 1px solid #0099e8;
      background: #0099e8;
      color: #fff;
      line-height: 40px;
      text-align: center;
  }
}




.login-form-inner{
    padding: 32px 64px;
    border-top: 1px solid #eee;
    .btn-sns-facebook{
      background: #385185;
      color: #fff;
    }
    .btn-sns-google{
      margin: 16px 0 0;
      background: #dc4e41;
      color: #fff;
    }
    .btn-sns {
      position: relative;
    }
    .field {
      height: 48px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      width: 100%;
      margin: 40px 0 0;
    }
}

.btn-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
}


.btn-red {
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    margin-top: 20px;
}

.login-form-inner .form-group:first-child {
  margin-top: -45px;
}

.login-form-inner .form-group:nth-child(2) {
    margin-top: -13px;
    margin-bottom: 20px;
}

.login-form-inner .input-default {
    margin: 0;
}

.rc-anchor-light {
    border: 1px solid #d3d3d3;
    margin-top: 25px;
}

.single-footer {
    width: 456px;
    height: 140px;
    margin: 0 auto;
    background: #f5f5f5;
    padding: 40px 0;
    text-align: center;
      li {
        display: inline-block;
      }
      a {
        display: block;
        color: #333;
      }
}
.login-panel {
    max-width: none;
    width: 456px;
    margin: 0 auto;
    background: #fff;
}

.login-panel a{
  display:block;
  margin:40px 0 0;
}

body footer nav ul {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 0 630px 50px 0;
}

::placeholder {
  font-size: 1.5em;
  margin-left:10px;
}

.field {
  width :440px;
  height :60px;
}

