.l-left{
  // float: left;
}
.l-right{
  float: right;
}
.btn-red{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}
.btn-gray{
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}
select{
  -webkit-appearance: none;
}
.btn-default{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
.input-default{
  height: 48px;
  padding: 10px 16px 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  display: inline-block;
  -webkit-appearance: none;
}
.textarea-default{
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 8px;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}
a.form-question{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
.sell-form-box{
  float: right;
  width: 400px;
  .form-group{
    .select-wrap{
      margin-top: 8px;
      background: #fff;
      position: relative;
      .select-default{
        z-index: 2;
        height: 48px;
        width: 100%;
        padding: 0 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: 0;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
      }
      .fa-angle-down{
        position: absolute;
        right: 16px;
        top: 50%;
        z-index: 2;
        color: #888;
        font-size: 8px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        font-size: 20px;
      }
    }
  }
}
.dropzone{
    min-height: 150px;
    border: none;
    background: white;
    padding: 0;
}
span.form-require{
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
span.form-arbitrary{
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  background: #ccc;
}
body{
  header.single-header{
    height: 128px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    h1{
      margin: 40px 0 0;
      display: inline-block;
      a{
        width: 185px;
        height: 49px;
        line-height: 49px;
        display: inline-block;
        margin: 0 8px 0 0;
        img{
          width: 185px;
          height: 49px;
          vertical-align: middle;
        }
      }
    }
  }
  main.single-main{
    section.l-single-container{
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      #sell-container{
        h2.l-single-head{
          padding: 32px 16px;
          font-size: 22px;
          line-height: 1.5;
          text-align: center;
          font-size: 22px;
        }
        .dropzone{
          border-top: 1px solid #eee;
          .sell-upload-box{
            width: 620px;
            padding: 40px;
            h3.sell-upload-head{
              font-size: 16px;
            }
            p{
              margin: 8px 0 0;
              line-height: 1.5;
              z-index: 100;
            }
            .sell-dropbox-container{
              display: block;
              width: 620px;
              margin: 16px auto 0;
              .sell-upload-items{
                float: left;
                display: block;
              }
              .sell-upload-drop-box{
                float: right;
                width: 620px;
                margin: 0;
                height: 184px;
                padding: 40px;
                position: relative;
                background: #f5f5f5;
                border: 1px dashed #ccc;
                font-size: 0;
                text-align: center;
                box-sizing: border-box;
                input{
                  width: 620px;
                  margin: 0;
                  height: 184px;
                  padding: 40px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  background: #f5f5f5;
                  border: 1px dashed #ccc;
                  font-size: 0;
                  text-align: center;
                  box-sizing: border-box;
                }
                pre.visible-pc{
                  position: absolute;
                  top: 50%;
                  left: 16px;
                  right: 16px;
                  text-align: center;
                  font-size: 14px;
                  line-height: 1.5;
                  -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
                }
              }
            }
          }
        }
        .sell-content.sell-btn-box{
          div{
            p{
              line-height: 1.5;
              a{
                color: #0099e8;
              }
            }
          }
          .btn-default.btn-red{
            margin-top: 40px;
          }
          a.btn-default.btn-gray{
            width: 45%;
            margin: 24px auto 0;
          }
        }
      }
    }
  }
}
.sell-content{
  padding: 40px;
  border-top: 1px solid #eee;
  .form-group:first-child{
    margin:0;
  }
  .form-group{
    margin-top: 40px;
    .itemTitleLabel{
      font-weight: 600;
      display: inline-block;
    }
    span.form-require{
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
    input.input-default{
      margin-top: 8px;
      width: 100%;
    }
  }
  .sell-form-box{
    ul.sell-price{
      list-style: none;
      li.form-group{
        .clearfix{
          label.l-left{
            width: 50%;
            line-height: 48px;
            float: left;
          }
          #inputPrice.sell-price-input{
            float: right;
            display: inline-block;
            width: 50%;
            box-sizing: border-box;
            .sell-form-box-input{
              display: inline-block;
              width: 80%;
              margin-left: 5%;
              input.input-default{
                margin: 0;
                width: 100%;
                text-align: right;
              }
            }
          }
        }
      }
      li:first-child{
        padding: 0 0 24px;
        border: none;
      }
      li{
        padding: 24px 0;
        border-top: 1px solid #ccc;
        .profitFee.l-left{
          font-size: 16px;
        }
        #profitFee.l-right{
          font-size: 32px;
        }
      }
    }
  }
  h3.sell-sub-head{
    color: #888;
    float: left;
    font-size: 14px;
  }
}
