
.single-container{
  .single-header {
      h1 {
      margin: 40px 0 0;
      a {
        width: 185px;
        height: 49px;
        line-height: 49px;
      display: inline-block;
      height: 33px;
      margin: 0 8px 0 0;
      line-height: 33px;
      color: #0099e8;
      text-decoration: none;
        }
      }

    .progress-bar {
        padding: 40px 0 0 44px;
        border: 0;
        display: inline-block;
        vertical-align: top;
        width: 470px;
        ol {
          margin: 0;
        }
        li.active {
          font-weight: 600;
          color: #ea352d;
        }
        li {
          margin: 0 40px 0 0;
          min-width: 60px;
          position: relative;
          z-index: 1;
          display: inline-block;
          min-width: 40px;
          margin: 0 5% 0 0;
          font-size: 12px;
          color: #888;
            .progress-status-fist {
                  background: #ea352d;
                  width: 12px;
                  height: 12px;
                  margin: 8px auto 0;
                  border-radius: 50%;
                  &:before {
                    left:50%;
                    position: absolute;
                    bottom: 5px;
                    z-index: -1;
                    display: block;
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: #ccc;
                      }
                  }
                .progress-status-last {
                  background-color:red;
                  width: 12px;
                  height: 12px;
                  margin: 8px auto 0;
                  background: #ccc;
                  border-radius: 50%;
                &:after {
                  right: 50%;
                  position: absolute;
                  bottom: 5px;
                  z-index: -1;
                  display: block;
                  content: '';
                  width: 100%;
                  height: 2px;
                  background: #ccc;
                 }
                }
            .progress-status {
              background-color:red;
              width: 12px;
              height: 12px;
              margin: 8px auto 0;
              background: #ccc;
              border-radius: 50%;
              &:after  {
                  left: 50%;
              }
              &:before {
                  right: 50%;
              }
                &:before, &:after {
                  position: absolute;
                  bottom: 5px;
                  z-index: -1;
                  display: block;
                  content: '';
                  width: 100%;
                  height: 2px;
                  background: #ccc;
                }
            }
          }
        }
    }



    .form-group-registration{
        margin: 40px 0 0;
        &:first-child {
            margin: 0;
        }
        label {
          font-weight: 600;
          display: inline-block;
        }
        .form-require {
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
          background: #ea352d;
        }
        .input-default {
          height: 35px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 100%;
          margin: 8px 0 0;
        }
    }
}
