#wrap {
width:100%;
overflow:hidden;
}

body {
    position: relative;
    min-height: 100%;
    background: #f5f5f5;
    font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1;
    background: rgb(245, 245, 245);
    .single-container {
       .single-header {
        height: 128px;
        text-align: center;
        h1 {
          margin: 40px 0 0;
          display: inline-block;
          a {
            width: 185px;
            height: 49px;
            line-height: 49px;
          }
        }
      }
      .single-main{
        .l-single-container {
          max-width: none;
          width: 700px;
          margin: 0 auto;
          background: #fff;
          height: 100%;
          a{
            display:block;
            margin:40px 0 40px 0;
           }
        }
        .l-single-head {
          padding: 32px 16px;
          font-size: 22px;
          line-height: 1.5;
          text-align: center;
        }
        .login-no-account {
          padding: 40px 64px;
          border-bottom: 1px solid #eee;
          p {
            text-align: center;
          }
          a {
              display: block;
              margin: 8px 0 0;
              border: 1px solid #0099e8;
              background: #0099e8;
              color: #fff;
              line-height: 40px;
              text-align: center;
          }
        }
        .l-single-inner {
                padding: 30px 64px 40px 64px;
                border-top: 1px solid #f5f5f5;
                .l-single-content {
                  max-width: 320px;
                  margin: 0 auto;
            .btn-mail {
                position: relative;
                background: #eee;
                color: #000;
                position:relative;
                .fa-envelope{
                  color: #ccc;
                  font-size: 23px;
                  position:absolute;
                  left: 11px;
                  top: 13px;
                }
            }
            .btn-red {
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              margin-top: 20px;
            }
            .btn-sns-facebook{
              background: #385185;
              color: #fff;
              position:ralative;
              .fa-facebook{
                  color: #FFF;
                  background: #385185;
                  font-size: 23px;
                  position:absolute;
                  left: 11px;
                  top: 13px;
              }
            }
            .btn-sns-google{
              margin: 16px 0 0;
              background: #dc4e41;
              color: #fff;
              position:ralative;
              .fa-google-plus-g{
                color: #fff;
                background: #dc4e41;
                font-size: 23px;
                position:absolute;
                left: 11px;
                top: 13px;
              }
            }
            .btn-default {
                display: block;
                width: 100%;
                line-height: 48px;
                font-size: 14px;
                border: 1px solid transparent;
                -webkit-transition: all ease-out .3s;
                transition: all ease-out .3s;
                cursor: pointer;
                text-align: center;
                margin-bottom: 20px;
            }
            .field {
                width :440px;
                height :60px;
                 input {
                  font-size:15px;
                }
            }
            .btn-sns {
              position: relative;
            }
            .field {
              height: 48px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              width: 100%;
              margin: 40px 0 0;
            }
        }
      }
    }
          .single-footer {
            width: 456px;
            height: 140px;
            margin: 0 auto;
            background: #f5f5f5;
            padding: 40px 0;
            text-align: center;
              li {
                display: inline-block;
              }
              a {
                display: block;
                color: #333;
              }
              ul.clearfix {
                  color: #fff;
                  font-size: 14px;
                  font-weight: 400;
                  text-align: center;
                  margin: 0 650px 50px 0;
              }
          }
    }
  }



