%body
  .single-container
    .single-header
      %h1
        %a{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2960600120"}/
    .single-main
      .login-panel
        .login-no-account
          %p アカウントをお持ちでない方はこちら
          %a{:href => "https://www.mercari.com/jp/signup/?after_save_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2F"} 新規会員登録
        .login-form-inner
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            %i.fab.fa-facebook
            Facebookでログイン
          %button#google-login.btn-default.btn-sns.btn-sns-google
            %i.fab.fa-google-plus-g
            Googleでログイン


        %form{:action => "https://www.mercari.com/jp/login/", :method => "POST", :novalidate => "novalidate"}
          .login-form-inner
            .form-group
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .field
                = f.email_field :email, autofocus: true, autocomplete: "email",style: ' width: 100%; height: 100%; ',placeholder: 'メールアドレス',:size => 100
              .field
                = f.password_field :password, autocomplete: "current-password",autocomplete: "password",style: 'width: 100%;height: 100%;',placeholder: 'パスワード'

            /   %input.login-input-text.input-default{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}/
            / .form-group
            /   %input.login-input-text.input-default{:name => "password", :placeholder => "パスワード", :type => "password"}/
            .form-group
              .g-recaptcha.login-captcha{"data-sitekey" => "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}
                %div{:style => "width: 304px; height: 78px;"}
                  %div
                    %iframe{:frameborder => "0", :height => "78", :name => "a-at0g0v2thzo7", :role => "presentation", :sandbox => "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", :scrolling => "no", :src => "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1540189908068&size=normal&cb=3g1gbk7idoum", :width => "304"}
                  %textarea#g-recaptcha-response.g-recaptcha-response{:name => "g-recaptcha-response", :style => "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
            %button.login-submit.btn-default.btn-red{:type => "submit"} ログイン
            %input{:name => "login_callback", :type => "hidden", :value => "https://www.mercari.com/jp/"}/
            %input{:name => "__csrf_value", :type => "hidden", :value => "bd82cd6eb7ff05d22f486c0319a5364d13613ce3fab63bf8eff90e1411df976ed011fd54ea2d0379bb4eb0982df9f16a78cf82fc774244c45dbfa9286be78f15d"}/
            %a.pass-reset{:href => "https://www.mercari.com/jp/password/reset/start/"} パスワードをお忘れの方
    %footer.single-footer
      %nav
        %ul.clearfix
          %li
            %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li
            %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
          %li
            %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
      %a.single-footer-logo{:href => "https://www.mercari.com/jp/"}
        %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2960600120", :width => "80"}/
      %p
        %small © 2018 Mercari
  / = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  /   .field
  /     = f.label :email
  /     %br/
  /     = f.email_field :email, autofocus: true, autocomplete: "email"
  /   .field
  /     = f.label :password
  /     %br/
  /     = f.password_field :password, autocomplete: "current-password"
  /   - if devise_mapping.rememberable?
  /     .field
  /       = f.check_box :remember_me
  /       = f.label :remember_me
  /   .actions
  /     = f.submit "Log in"
  / = render "devise/shared/links"
