%body
  .single-container
    .single-header
      %h1
        %a{href: "https://www.mercari.com/jp/"}
          %img{alt: "mercari", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1098098883"}/
      %nav.progress-bar.signup-bar
        %ol.clearfix
          %li
            会員情報
            .pay-progress-status-fist
          %li
            電話番号認証
            .pay-progress-status-2nd
          %li
            住所入力
            .pay-progress-status-3rd
          %li.active
            支払い方法
            .pay-progress-status-4th
          %li
            完了
            .pay-progress-status-last
    .single-main
      .l-single-container
        %h2.l-single-head 支払い方法
        .l-single-inner
          .l-single-content
            .form-group-registration
              %form#charge-form{:action => "/pay", :method => "POST"}
                %span.charge-errors
              = form_tag(action: :payment, method: :post) do
                %script.payjp-button{"data-key" => PAYJP_PUBLIC_KEY, :src => "https://checkout.pay.jp", :type => "text/javascript","data-text" => "クレジットカードの登録をする"}
            .form-group-registration
              %a{:href => "/users/sign_up/6"}
                %button.btn-default.btn-red{type: "submit"} 次へ進む

      = render 'devise/shared/registration-footer'
