%body
  = render 'items/header'
  %nav#subNav
    %ul
      %li
        %a
          %span メルカリ
        %i.fa.fa-angle-right.icon
      %li
        %a
          %span マイページ

  %main

  = render 'items/footer'
  = render 'items/sellBtn'
