@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin list-style{
  list-style: none;
  list-style-position: outside;
  float: left;
}

@mixin widepc {
  @media (min-width: ($widepc)) {
    @content;
  }
}

@mixin smallpc {
  @media (max-width: ($smallpc)) {
    @content;
  }
}
